@import url(http://fonts.googleapis.com/css?family=Arimo);

@font-face{
    font-family: maries;
    src:url('fonts/trajax.ttf');
}



html
{
    background: url('../images/backgrounds/background1b.jpg') no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.white-faded-bg
{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-8 */
}

.cream-faded-bg, nav a, article
{
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmNjZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZjYyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,252,207,0.8) 0%, rgba(255,255,204,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,207,0.8)), color-stop(100%,rgba(255,255,204,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,252,207,0.8) 0%,rgba(255,255,204,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,252,207,0.8) 0%,rgba(255,255,204,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,252,207,0.8) 0%,rgba(255,255,204,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,252,207,0.8) 0%,rgba(255,255,204,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccfffccf', endColorstr='#ccffffcc',GradientType=0 ); /* IE6-8 */
}

dark-green, form, nav a:hover
{
    background:#092509;
    background:#394541
}


h1,h2,h3,h4,h5,h6
{
    font-family: maries !important;
    /*font-weight:normal;*/
    margin:0px;
    padding:0px;
}


body,textarea, input{ font-family: Arimo;}

body
{
    margin:0px;
    padding:0px;
   
}

header
{
    min-height:90px;
    padding:15px 15px 0px 15px;
}



header h1
{
    font-family: maries;
    font-weight: normal;
    font-size:100px;
    display: inline-block;
    padding-left:25px;
    margin:0px;
    padding:0px 0px 0px 15px;
    color:#000;
}

header img
{
    height:90px;
}

nav{margin:15px 5px 10px 15px;}
nav a
{
    width:145px;
    border:1px solid #888;
    padding:5px 0px 2px 0px;
    margin:5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: maries;
    font-weight:bold;
    color:#000;
}

nav a:hover
{
    /*background:#000;*/
    color:#fff;
}


main
{
    max-width:960px;
    margin:45px  auto;
    color:#000;
}

article
{
    margin:0px;
    padding:25px;
    vertical-align: top;
    border:1px solid #888;
}

.image-wrapper
{
    padding:15px;
    border:1px solid #888;
}

form
{
    width:350px;
    padding:25px;
    border:1px solid #888;
}

textarea, input
{
    padding:3px;
    font-size:14px;
    margin:3px 0px 0px 0px;
}

form label
{
    color:#fff;
    display:block;
    margin:10px 0px 0px 0px;
    
}

.form_err
{
    border:2px solid #f00;
    background: #fbb;
}

.button
{
    margin:0px 15px 0px 0px;
    padding:5px 10px;
}