@font-face
{
    font-family: maries;
    src:url('fonts/lcallig.ttf');
}

@font-face
{
    font-family: maries_eot;
    src:url('fonts/lcallig.eot'); 
}

body
{
    position: relative;
    margin:0px;
    padding:0px;
    background-color:#fffccc;
    background-image: url('../images/template/bg_256x256.png');
    color:#660000;
    font-family: arial, sans-serif;
    min-width:960px;
    min-height:600px;
   
}

.logo1
{
    float:left;
    position:relative;
    vertical-align: top;
    width:35%;
}

h1,h2,h3,h4,h5,h6
{
    margin:5px;
    font-family: maries;
}

.title {
    font-family:maries;
    /*font-size: 2.3em;*/
    /*font-weight:normal;*/
}

h1{font-size:2em;}

header, footer
{
    /*background-color:  #660000;*/
    z-index: 1;
    margin:0px;
    /*color:#fffccc;*/
    color:#660000;
    width:100%;
    
}

headr{position: relative;}

footer
{
    height:80px;
    position: fixed;
}

header, footer
{
    min-width:960px;
}

header h1{font-family:maries;font-size:3.5em;font-weight: normal;}

header a,footer a
{
    text-decoration: none;
    color:#660000;
    
}
footer{bottom:0px;}

header a:hover,footer a:hover
{
    text-decoration:none;
    color:#f00;
}



nav img
{
    /*
    padding-top:32px;
    top:4px;
    */
}

#navbaroque
{
   display:block;
   width:520px;
   margin-left:auto;
   margin-right:auto;
   margin:0px auto 0px auto;
}

#navbaroque img
{
    margin-top:2px;
}

#logo
{
    padding:20px 0px 0px 0px;
/
}

nav
{
    border-top:2px solid #660000;
    border-bottom:2px solid #660000;
    width:450px;/*30%*/
    margin:15px auto 10px auto;
    padding:5px;
    text-align: center;
    font-size:.8em;
}
nav a
{
    padding:0px 10px 0px 10px;
}

barogue_tl,bargue_bl{float:left;}
barogue_tr,bargue_b3{float:right;}


main
{ 
    /*top:200px;*/
    position:relative;
    max-width: 960px;
    margin: 25px auto 0px auto;
    overflow:auto;
}

#textbox, article
{
    margin:5px 10px 0px 10px;
    padding:0px 15px 0px 15px;
    /*float:right;*/
    
}

#textbox
{
    /*margin-left:65%;*/
}

/* list styling */
ul
{
    margin-left:35px;
}
li{margin-left:45px;}


.button, fieldset, input, textarea, .form_error
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border:0px;
}

input, textarea
{
    padding:4px;
    margin:2px 8px 6px 0px;
    font-family: arial, sans-serif;
}

.form, .display_block
{
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-top:20px;
    margin-right:20px;
    padding:20px;
    background-color:#660000;
    color:#fff;
   behavior: url(/libs/pie/PIE.htc);
}

.form
{
    width:350px;
    margin-left: auto;
    margin-right: auto;
}


/* Form Errors */
.form_error
{
    background-color: #f99;
    border:2px solid #f00;
    color:#000;
    margin:3px 0px 3px 0px;
}
.form p
{
    margin: 0px 0px 0px 0px;
   
}

.form label
{
    display:block;
    margin:10px 0px 0px 0px;
}

.button{font-size:14px;padding:5px 10px;}

.success label
{
    display:inline-block;
    text-align: right;
    width:125px;
    vertical-align: top;
}
.success pre
{
    display: inline-block;
    margin-top:0px;
    font-family: arial, sans-serif;
}

.contactus h1,
{
    
}

.contactus
{
    margin-left:30%;
}

.contactus p
{
    margin:0px 0px 12px 0px;
}

.menu{text-align:center;}
.menu a{
    
    width:250px;
    display:block;
    text-decoration:none;
    font-size:1.2em;
    margin:2px auto;
    padding:2px 0px;
    color:#600;
    border:1px solid #600;
    border-radius:5px;
}

.menu a:hover{
    color:#fff;
    
    background: #660000; /* Old browsers */
    background: -moz-linear-gradient(top,  #660000 0%, #663a3a 50%, #660000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#660000), color-stop(50%,#663a3a), color-stop(100%,#660000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #660000 0%,#663a3a 50%,#660000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #660000 0%,#663a3a 50%,#660000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #660000 0%,#663a3a 50%,#660000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #660000 0%,#663a3a 50%,#660000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660000', endColorstr='#660000',GradientType=0 ); /* IE6-9 */

}

.buttons
{
    /*width:75px !important;*/
    min-width: 75px;
    font-size:14px !important;
    display: inline-block !important;
    text-decoration:none;
    margin:2px 0px !important;
    padding:2px 10px !important;
    border:1px solid #600;
    border-radius:5px;
    text-align: center;
    background: #600;
    color:#fff;
    
    
}

.buttons:hover
{
    background: none;
    color:#600;
    
}
